<section class="body">
  
<section class="lista">  
          

  <div class="cardStanga">

    <div>
      <h5>HTML</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, expedita.</p>
      <button class="button1">HTML</button>
    </div>

  </div>

  <div class="cardM">
    
    <div>
      <h5>CSS</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, expedita.</p>
      <button type="button" class="button1">CSS</button>
    </div>
  </div>
        
    
               
  <div class="cardDreapta">
    
    <div>
      <h5 >JS</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, expedita.</p>
      <button class="button1">JS</button>
    </div>


  </div>


</section>
    <div class ="top" >
      <h3>The Odin Project</h3>
      
      <p class="top-p">The Odin Project empowers aspiring web developers to learn together for free.</p>
      <button class="button2" type="button" onclick="window.location.href='https://www.theodinproject.com'">Odin
        
      </button>
    </div>

  </section>                        